<div class='card'>
    <div class='card-header'>
        TEAMS
    </div>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table'
                *ngIf='teams.length'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Division ID</th>
                        <th>Full Name</th>
                        <th>Location Name</th>
                        <th>Nickname</th>
                        <th>Abbreviation</th>
                        <th>Timezone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let team of teams'>
                        <td>{{ team.ID }}</td>
                        <td>{{ team.DIVISION_ID }}</td>
                        <td>{{ team.FULL_NAME }}</td>
                        <td>{{ team.LOCATION_NAME }}</td>
                        <td>{{ team.NICKNAME }}</td>
                        <td>{{ team.ABBREVIATION }}</td>
                        <td>{{ team.TIMEZONE }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center" *ngIf="teams.length == 0">
            <mat-spinner></mat-spinner>
        </div>
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col-sm-auto" *ngFor='let page of pages'>
                    <button (click)="goToPage(page)">{{page}}</button>
                </div>
            </div>
        </div>
    </div>
</div>