<div class='card'>
    <div class='card-header'>
        GOALIE STATS
    </div>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table'
                *ngIf='goalieStats.length'>
                <thead>
                    <tr>
                        <th>Game ID</th>
                        <th>Team ID</th>
                        <th>Player ID</th>
                        <th>Shots Against</th>
                        <th>Saves</th>
                        <th>ES Shots Against</th>
                        <th>ES Saves</th>
                        <th>PP Shots Against</th>
                        <th>PP Saves</th>
                        <th>SH Shots Against</th>
                        <th>SH Saves</th>
                        <th>TOI (sec.)</th>
                        <th>Decision</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let singleGoalieStats of goalieStats'>
                        <td>{{ singleGoalieStats.GAME_ID }}</td>
                        <td>{{ singleGoalieStats.TEAM_ID }}</td>
                        <td>{{ singleGoalieStats.PLAYER_ID }}</td>
                        <td>{{ singleGoalieStats.SHOTS_AGAINST }}</td>
                        <td>{{ singleGoalieStats.SAVES }}</td>
                        <td>{{ singleGoalieStats.EVEN_SHOTS_AGAINST }}</td>
                        <td>{{ singleGoalieStats.EVEN_SAVES }}</td>
                        <td>{{ singleGoalieStats.PP_SHOTS_AGAINST }}</td>
                        <td>{{ singleGoalieStats.PP_SAVES }}</td>
                        <td>{{ singleGoalieStats.SH_SHOTS_AGAINST }}</td>
                        <td>{{ singleGoalieStats.SH_SAVES }}</td>
                        <td>{{ singleGoalieStats.TOI_SEC }}</td>
                        <td>{{ singleGoalieStats.DECISION }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center" *ngIf="goalieStats.length == 0">
            <mat-spinner></mat-spinner>
        </div>
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col-sm-auto" *ngFor='let page of pages'>
                    <button (click)="goToPage(page)">{{page}}</button>
                </div>
            </div>
        </div>
    </div>
</div>